@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
#app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#url{
  width: 60vw;
  padding-left: 10px;
}
@media screen and (max-width:768px){
  .home-container{
    background-color: none;
    justify-content: space-evenly;
  }
  #url{
    width: 90vw;
    margin-bottom: 20px;
  }
}